<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<div><h1>This is the home page</h1>
    <h3>Welcome</h3>
    <p>lorem ipsum dolor sit amet, consectetur adip</p></div>
<div>
    <h1>Second title</h1>
    <h3>This is it</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet cumque deleniti fugit laboriosam provident, saepe sint soluta totam voluptas voluptatum. Dolorum magni quidem voluptates. Autem eum facilis illo laboriosam nostrum.</p>
</div>

<div>
    <select name="test" id="selector1">
        <option value="test1">TEST1</option>
        <option value="test2">TEST2</option>
        <option value="test3">TEST3</option>
        <option value="test4">TEST4</option>
        <option value="test5">TEST5</option>
    </select>
    <select name="test" id="selector2">
        <option value="test1">TEST1</option>
        <option value="test2">TEST2</option>
        <option value="test3">TEST3</option>
        <option value="test4">TEST4</option>
        <option value="test5">TEST5</option>
    </select>
    <select name="test" id="selector3">
        <option value="test1">TEST1</option>
        <option value="test2">TEST2</option>
        <option value="test3">TEST3</option>
        <option value="test4">TEST4</option>
        <option value="test5">TEST5</option>
    </select>

</div>

</body>
</html>